body{
  background-image:url("image/Poker_Table.jpg");
 background-size:1500px;
 background-repeat:no-repeat;
 background-attachment:fixed;
 background-position:center; 

}
#Player_numbers{
  display:none;
}
#number_of_decks{
  display:none;
}
.navbar{
  float:right;
}
#user_name{
  display:none
}